@charset "utf-8";
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.navbar {
	display: flex;
    width: 100%;
    height: 64px;
    background-color: #000000;
	position: fixed;
	align-items: center;
	z-index: 100;
}
		.navbar img {
			height: 50;
			pading-inline-start: 12px;
			margin-left: 8px;
			margin-right: 8px;
			cursor: pointer;
		
}

.section_header {
	overflow: hidden;
}
.navegador a {
    margin-right: 27px;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 27px;
}
.navegador a {
    color: #FFFFFF;
    text-decoration: none;
}
.navbar .navegador a {
    font-family: "Paloseco Medium";
}
	.navbar a:hover {
		color: #FDE021;
}
	.buscador {
    display: flex;
    height: 32px;
    width: 270px;
    background-color: #FDE021;
    border-radius: 30px;
    align-items: center;
    padding: 0px 15px;
	margin-left: 500px;
	justify-content: space-between;
	margin-right: 15px;
	cursor: pointer;
	}
		.Buscador span{
			color:#FFFFFF;
		}
		.buscador p {
			color: #FFFFFF;
			margin: 0px 4px;
		}
			.buscador p:hover {
				color: #98989A;
			}
		.navbar .buscador i {
			color: #FFFFFF;
			margin-top: 0px;
			margin-right: 4px;
			margin-left: 0px;
			margin-bottom: 0px;
		}
			


.section_header img {
    width: 100%;
}




.section {
    height: 900px;
    margin-left: 10px;
}
.slider {
	width: 100%;
	height: 600px;
	overflow: hidden;
}
	.slider ul {
		display: flex;
		animation: cambio 20s infinite alternate linear;
		width: 400%;
	}
	.slider li {
		width: 100%;
		list-style: none;
	}
	.slider img {
		width: 100%;
		height: 100%;
	}
	@keyframes cambio {
		0% {margin-left: 0%;}
		20% {margin-left: 0%;}

		25%{margin-left: -100%;}
		45%{margin-left: -100%;}

		50%{margin-left: -200%;}
		70%{margin-left: -200%;}

		75%{margin-left: -300%;}
		100%{margin-left: -300%;}
	}

body {
    background-color: #000000;
}
.text-center {
    color: #FDE021;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


.conteiner_products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
    padding-top: 50px;
    padding-right: 200px;
    padding-bottom: 50px;
    padding-left: 200px;
}
.card-product{
    background-color: #FFFFFF;
    padding: 2rem 3rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.conteiner.top-products .conteiner_products .card-product {
    height: auto;
    width: auto;
    text-align: left;
}
.card-product .conteiner-imag img {
    width: 100%;
    position: relative;
}

.blogs {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.container-blogs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.card-blog {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	color: #FFFFFF
}

.card-blog .container-img {
	border-radius: 2rem;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.button-group-blog {
	position: absolute;
	bottom: 1.5rem;
	right: -2.5rem;

	display: flex;
	gap: 0.7rem;
	z-index: -1;
	transition: all 0.3s ease;
}

.card-blog:hover .button-group-blog {
	z-index: 0;
	right: 1.5rem;
}

.button-group-blog span {
	background-color: #fff;
	padding: 1rem;
	border-radius: 50%;
	transition: all 0.4s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}

.button-group-blog span i {
	font-size: 1.3rem;
}

.button-group-blog span:hover {
	background-color: var(--primary-color);
}

.button-group-blog span:hover i {
	color: #fff;
}

.content-blog h3 {
	font-size: 1.8rem;
	margin-bottom: 1.7rem;
	color: var(--dark-color);
	font-weight: 500;
	font-family: 'Paloseco Medium';
}

.content-blog h3:hover {
    color: #FDE021;
    cursor: pointer;
    font-family: "Paloseco Medium";
}

.content-blog p {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #949596;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
    text-align: justify;
}

.content-blog span {
    color: #FDE021;
    font-size: 1.3rem;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.btn-read-more {
	padding: 1rem 3rem;
	background-color: var(--primary-color);
	color: #fff;
	text-transform: uppercase;
	font-size: 1.4rem;
	border-radius: 2rem;
	margin: 3rem 0 5rem;
	display: inline-block;
	cursor: pointer;
	font-family: 'Paloseco Medium';
}

.btn-read-more:hover {
	background-color: #FDE021;
}






.footer {
	background-color: var(--primary-color);
}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #FDE021;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

.contact-info,
.information,
.my-account,
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
    list-style: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
    width: auto;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

.information ul li a,
.my-account ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
	color: var(--dark-color);
}

.social-icons {
	display: flex;
	gap: 1.5rem;
}

.social-icons span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons span i {
    color: #FDE021;
    font-size: 1.2rem;
}

.content p {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 300;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #d2b495;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--dark-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.content input::-webkit-input-placeholder {
	color: #eee;
}

.content button {
	border: none;
	background-color: #FDE021;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
    background-color: #FFFFFF;
    color: var(--primary-color);
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.card-blog .container-img img {
    width: 100%;
}
.content-blog .btn-read-more a {
    text-decoration: none;
    color: #FFFFFF;
}

.franja {
    background-color: #FDE021;
}
body hr {
    margin-top: 100px;
}

.carousel-caption.d-none.d-md-block {
	max-width: 90rem;
	margin: 0 auto;
	padding: 25rem;
}

.body1 hr {
    background-color: #FDE021;
}
.body1 hr {
    background-color: #FDE021;
}



/* ********************************** */
/*       MEDIA QUERIES -- 768px       */
/* ********************************** */
@media (max-width: 768px) {
	html {
		font-size: 55%;
	}

	.hero {
		padding: 2rem;
	}

	.customer-support {
		display: none;
	}

	.content-shopping-cart {
		display: none;
	}

	.navbar {
		padding: 1rem 2rem;
	}

	.navbar .fa-bars {
		display: block;
		color: #fff;
		font-size: 3rem;
	}

	.menu {
		display: none;
	}

	.content-banner {
		max-width: 50rem;
		margin: 0 auto;
		padding: 25rem 0;
	}

	.container-features {
		grid-template-columns: repeat(2, 1fr);
		padding: 3rem 2rem;
	}

	.card-feature {
		padding: 2rem;
	}

	.heading-1 {
		font-size: 2.4rem;
	}

	.card-category {
		height: 12rem;
	}

	.card-category p {
		font-size: 2rem;
		text-align: center;
		line-height: 1;
	}

	.card-category span {
		font-size: 1.4rem;
	}

	.container-options {
		align-items: center;
	}

	.container-options span {
		text-align: center;
		padding: 1rem 2rem;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
	}

	.gallery {
		grid-template-rows: repeat(2, 15rem);
	}

	.container-blogs {
		overflow: hidden;
		grid-template-columns: 1fr 1fr;

		height: 52rem;
	}

	.menu-footer {
		grid-template-columns: repeat(2, 1fr);
	}

	.copyright {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
	}
}

/* ********************************** */
/*       MEDIA QUERIES -- 468px       */
/* ********************************** */
@media (max-width: 468px) {
	html {
		font-size: 42.5%;
	}

	.content-banner {
		max-width: 50rem;
		padding: 22rem 0;
	}

	.heading-1 {
		font-size: 2.8rem;
	}

	.card-feature {
		flex-direction: column;
		border-radius: 2rem;
	}

	.feature-content {
		align-items: center;
	}

	.feature-content p {
		font-size: 1.4rem;
		text-align: center;
	}

	.feature-content span {
		font-size: 1.6rem;
		text-align: center;
	}

	.container-options span {
		font-size: 1.8rem;
		padding: 1rem 1.5rem;
		font-weight: 500;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		gap: 1rem;
	}

	.container-img .discount {
		font-size: 2rem;
	}

	.content-card-product h3 {
		font-size: 2.2rem;
	}

	.gallery {
		grid-template-rows: repeat(2, 20rem);
	}

	.blogs {
		padding: 2rem;
	}

	.container-blogs {
		grid-template-columns: 1fr;
		height: 75rem;
	}

	.content-blog h3 {
		font-size: 2.4rem;
	}

	.content-blog span {
		font-size: 1.8rem;
	}

	.content-blog p {
		font-size: 2.2rem;
	}

	.btn-read-more{
		font-size: 1.8rem;
	}

	.contact-info ul,
	.information ul,
	.my-account ul{
		display: none;
	}

	.contact-info {
		align-items: center;
	}

	.menu-footer{
		grid-template-columns: 1fr;
	}

	.content p{
		font-size: 1.6rem;
	}
}